<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iReport.Persistence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <iReport.Persistence.Properties.Settings>
            <setting name="xmlCourse" serializeAs="String">
                <value>C:\Temp\Course.xml</value>
            </setting>
            <setting name="xmlStudent" serializeAs="String">
                <value>C:\Temp\Student.xml</value>
            </setting>
            <setting name="xmlSubject" serializeAs="String">
                <value>C:\Temp\Subject.xml</value>
            </setting>
            <setting name="xmlReportCard" serializeAs="String">
                <value>C:\Temp\ReportCard.xml</value>
            </setting>
        </iReport.Persistence.Properties.Settings>
    </applicationSettings>
</configuration>